
        body{
            background-color: rgb(33, 33, 151);
        }
        h1{
            text-align: center;
        }
        a{
            color: antiquewhite;
            display: block;
            margin-bottom: 500px;
            text-align: center;
            text-decoration: none;
        }
    